@model Bookish.Web.ViewModels.BookData
<!DOCTYPE html>

<html>
<head>
    <title>Add book</title>
</head>
<body>
    <div>
        <br />
        @{
            if (Model != null)
            {
                <font color="#ff0000">
                    Model.Error
                </font>
            }
        }
        <br />
        <h2>Add Book:</h2>
        <br />
        @using (Html.BeginForm("AddBookResult", "Home", FormMethod.Post))
        {
            <label>Title</label><br />
            <input type="text" name="title" /><br /><br />
            <label>Author</label><br />
            <input type="text" name="author" /><br /><br />
            <label>Genre</label><br />
            <input type="text" name="genre" /><br /><br />
            <label>Release date</label><br />
            <input type="date" name="releaseDate" /><br /><br />
            <label>ISBN</label><br />
            <input type="text" name="ISBN" /><br /><br />
            <label>Cover Image Url</label><br />
            <input type="url" name="coverImageURL" /><br /><br />
            <label>Quantity</label><br />
            <input type="number" name="quantity" /><br /><br />
            <input type="submit" />
        }
    </div>
</body>
</html>