@using DataAccessNew
@using Bookish.Web.Models
@using Bookish.Web.ViewModels
@model Bookish.Web.ViewModels.UserData
<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>

    <body>
        <div>
              Welcome @Model.User.userName
        </div>
    </body>
</html>