@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="Style/style.css">
<div id="header">
    <h1>Ay up lads, check out me new library!</h1>
</div>

<center>
<table width ="80%">
    <tr>
        <td>
                <div>
                    <h2>Login</h2><br />
                    <form action="" method="post">
                        <label>Username: </label><br/>
                        <input type="text" name="userName"/>
                        <br/><br />
                        <label>Password: </label><br/>
                        <input type="password" name="password"/>
                        <br/><br />
                        <input type="submit"/>
                    </form>
                </div>
        </td>
        <td>
                <div>
                    <h2>Register</h2><br />
                    <form action="" method="post">
                        <label>Username </label><br />
                        <input type="text" name="userName" />
                        <br /><br />
                        <label>Password </label><br />
                        <input type="password" name="password" />
                        <br /><br />
                        <label>Confirm Password </label><br />
                        <input type="password" name="password" />
                        <br /><br />
                        <input type="submit" />
                    </form>
                </div>
        </td>
    </tr>
</table>
</center>

